.binnash-gridbox-black{
}
.binnash-gridbox-black .binnash-screen{
    border:1px solid rgba(0,0,2,0.8);
    /*min-height:150px;*/
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    box-shadow: 0 1px 0 rgba(253, 253,255, 0.2) inset 0 1px rgba(0,0,2,0.2);
    -moz-box-shadow:0 1px 0 rgba(253, 253,255, 0.2) inset 0 1px rgba(0,0,2,0.2);
    -webkit-box-shadow:0 1px 0 rgba(253, 253,255, 0.2) inset 0 1px rgba(0,0,2,0.2);
    text-shadow:0 1px 0 rgba(0,0,2,0.3);
    -moz-text-shadow:0 1px 0 rgba(0,0,2,0.3);
    -webkit-text-shadow:0 1px 0 rgba(0,0,2,0.3);
    background:url("../images/black.png") repeat-x scroll 0 0 #363638;
}
.binnash-gridbox-black .binnash-title{
    color:#E3E3E5;
    background: url("../images/black_title.png") repeat-x scroll 0 0 #111;
    border-radius: 7px 7px 0 0;
    text-shadow:0 1px 0 rgba(0,0,2,0.3);
    padding: 5px 0px 5px 40px;
    margin:0  0 5px 0;
}
.binnash-gridbox-black .binnash-photo-album div.image{
    background-color:#333;
    background-position: center center;
    background-repeat:no-repeat;
    border-collapse:separate;
    border-radius:5px;
    box-shadow:0 0 5px #000;
    height: 110px;
    overflow:hidden;
    width:160px;
    background-size:contain;
}
.binnash-gridbox-black .binnash-photo-album div.image:hover{
        box-shadow:0 0 5px #eee;
}
.binnash-gridbox-black .binnash-apple-overlay {
    display:none;
    background-image:url(../images/black-popup.png);
    width:640px;
    padding:35px;
    font-size:11px;
    text-align:center;
}
.binnash-gridbox-black .binnash-apple-overlay h2,.binnash-gridbox-black .binnash-apple-overlay p{
    color:#fff;
    text-shadow:0 1px 0 rgba(10, 11, 12, 0.97);        
}
