.binnash-gridbox-transparent{
}
.binnash-gridbox-transparent .binnash-screen{
    border:1px solid #transparent;
    /*min-height:180px;*/
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    text-shadow:0 1px 0 #fdfdff;
    -moz-text-shadow:0 1px 0 #fdfdff;
    -webkit-text-shadow:0 1px 0 #fdfdff;
    background:none repeat scroll 0 0 transparent;
}
.binnash-gridbox-transparent .binnash-title{
    background: none repeat-x scroll 0 0 transparent;
    border-radius: 7px 7px 0 0;
    text-shadow:0 1px 0 royalblue;
    margin:0  0 5px 0;
    color:#E3E3E5;
}
.binnash-gridbox-transparent .binnash-photo-album div.image{
    background-color:#eee;
    background-position: center center;
    background-repeat:no-repeat;
    border-collapse:separate;
    border-radius:5px;
    box-shadow:0 0 5px #333;
    height: 110px;
    overflow:hidden;
    width:160px;
    background-size:contain;
}
.binnash-gridbox-transparent .binnash-apple-overlay {
    display:none;
    background-image:url(../images/transparent-popup.png);
    width:640px;
    padding:35px;
    font-size:11px;
    text-align:center;
}

