.binnash-gridbox-brick{
}
.binnash-gridbox-brick .binnash-screen{
    border:1px solid rgba(240,84,21,0.6);
    /*min-height:150px;*/
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    box-shadow: 0 1px 0 rgba(253, 253,255, 0.2) inset 0 1px rgba(0,0,2,0.2);
    -moz-box-shadow:0 1px 0 rgba(253, 253,255, 0.2) inset 0 1px rgba(0,0,2,0.2);
    -webkit-box-shadow:0 1px 0 rgba(253, 253,255, 0.2) inset 0 1px rgba(0,0,2,0.2);
    text-shadow:0 1px 0 rgba(0,0,2,0.3);
    -moz-text-shadow:0 1px 0 rgba(0,0,2,0.3);
    -webkit-text-shadow:0 1px 0 rgba(0,0,2,0.3);
    background:none repeat-x scroll 0 0 #e2663b;
}
.binnash-gridbox-brick .binnash-title{
    background:url("../images/brick_title.png") repeat-x scroll 0 0 #f0b39b;
    color:#fff;
    text-shadow:0 1px 0 rgba(10, 11, 12, 0.97);
    border-radius: 7px 7px 0 0;
    padding: 5px 0px 5px 40px;
    margin:0  0 5px 0;
}
.binnash-gridbox-brick .binnash-photo-album div.image{
    background-color:#333;
    background-position: center center;
    background-repeat:no-repeat;
    border-collapse:separate;
    border-radius:5px;
    box-shadow:0 0 5px #000;
    height: 110px;
    overflow:hidden;
    width:160px;
    background-size:contain;
}
.binnash-gridbox-brick .binnash-photo-album div.image:hover{
        box-shadow:0 0 5px #eee;
}
.binnash-gridbox-brick .binnash-apple-overlay {
    display:none;
    background-image:url(../images/brick-popup.png);
    width:640px;
    padding:35px;
    color:#fff;
    text-shadow:0 1px 0 rgba(10, 11, 12, 0.97);    
    font-size:11px;
    text-align:center;
}
.binnash-gridbox-brick .binnash-apple-overlay h2{
    color:#fff;
    text-shadow:0 1px 0 rgba(10, 11, 12, 0.97);        
}

