.binnash-gridbox-vertical{
  /*  float:left;*/
    width:200px;    
    margin:10px auto;
}
.binnash-gridbox-vertical .binnash-container{
    float:left;
    height:600px;    
}
.binnash-gridbox-vertical .binnash-container table,.binnash-gridbox-vertical .binnash_container table tr td{
    border:none;
}
.binnash-gridbox-vertical .binnash-photo-album{
     padding:0 5px 0 5px;
}
.binnash-gridbox-vertical .binnash-photo-album img, 
.binnash-gridbox-vertical .binnash-photo-album td, 
.binnash-gridbox-vertical .binnash-photo-album tr,
.binnash-gridbox-vertical .binnash-photo-album tbody{
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;    
}
.binnash-gridbox-vertical .binnash-photo-album table{
    border-collapse:collapse;
    border-spacing:0;
    margin:0;
}
.binnash-gridbox-vertical .binnash-prev,.binnash-gridbox-vertical .binnash-next{
    background-image:url("../images/nav_s.png");
    cursor: pointer;
    height: 48px;
    margin: 5px auto;
    width: 60px;
}
.binnash-gridbox-vertical .binnash-prev{
    background-position:63px 2px;
}
.binnash-gridbox-vertical .binnash-prev:hover{
    background-position:63px -40px;
}
.binnash-gridbox-vertical .binnash-next{
    background-position:63px 83px;
}
.binnash-gridbox-vertical .binnash-next:hover{
    background-position:63px 44px;
}
.binnash-gridbox-vertical .binnash-photo-album div.stripmask{
    height:500px;;
    overflow:hidden;
    position:relative;
    width:178px;
}
.binnash-gridbox-vertical .binnash-photo-album div.strip{
    position:absolute;
    height: 3440px;
}
.binnash-gridbox-vertical .binnash-photo-album div.strip > div{
    width:172px;
    display:block;
    float:left;
    cursor:pointer;
}
.binnash-gridbox-vertical .binnash-apple-overlay .close {
    background-image:url(../images/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}
.binnash-gridbox-vertical .binnash-title-position{
    margin: -14px -3px 0px;
    padding:10px 9px 10px 8px;
}
.binnash-gridbox-vertical .binnash-apple-overlay #preloader{
    line-height:400px;
    text-align:center;
}
.binnash-gridbox-vertical .binnash-apple-overlay img{
    max-width:98%; 
    height: auto;
}
.binnash-gridbox-vertical #binnash-popup-left{
    float: left;
    height: 400px;
    left: 35px;
    position: absolute;
    top: 35px;
    width: 35px;
    z-index:1000;
}
.binnash-gridbox-vertical #binnash-popup-center{
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background-color: transparent;
}
.binnash-gridbox-horizontal #binnash-popup-center img{
    height: 400px;    
}

.binnash-gridbox-vertical #binnash-popup-right{
    float: right;
    height: 400px;
    position: absolute;
    right: 35px;
    top: 36px;
    width: 35px;
    z-index:1000;
}
.binnash-gridbox-vertical #binnash-popup-left:hover>div{
  background-color: transparent;
    background-image: url("../images/nav_s.png");
    background-position: 1px -70px;
    background-repeat: no-repeat;
    height: 75px;
    cursor:pointer;
    position: absolute;
    top: 150px;
    width: 34px;
}
.binnash-gridbox-vertical #binnash-popup-right:hover>div{
  background-color: transparent;
    background-image: url("../images/nav_s.png");
    background-position: 1px 7px;
    background-repeat: no-repeat;
    height: 75px;
    position: absolute;
    top: 150px;
    cursor:pointer;
    width: 34px;
}

