.binnash-gridbox-white{
}
.binnash-gridbox-white .binnash-screen{
    border:1px solid #f2f2f2;
    /*min-height:180px;*/
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    box-shadow: 0 0 1px rgba(0, 0,2, 0.2),  0 1px 0 rgba(0,0,2,0.15),0 1px 1px rgba(0, 0,2, 0.1);
    -moz-box-shadow:0 0 1px rgba(0, 0,2, 0.2),  0 1px 0 rgba(0,0,2,0.15),0 1px 1px rgba(0, 0,2, 0.1);
    -webkit-box-shadow:0 0 1px rgba(0, 0,2, 0.2),  0 1px 0 rgba(0,0,2,0.15),0 1px 1px rgba(0, 0,2, 0.1);
    text-shadow:0 1px 0 #fdfdff;
    -moz-text-shadow:0 1px 0 #fdfdff;
    -webkit-text-shadow:0 1px 0 #fdfdff;
    background:none repeat scroll 0 0 #f7f7f9;
}
.binnash-gridbox-white .binnash-title{
    background: url("../images/white_title.png") repeat-x scroll 0 0 #E5E5E7;
    border-radius: 7px 7px 0 0;
    text-shadow:0 1px 0 #fdfdff;
}
.binnash-gridbox-white .binnash-photo-album div.image{
    background-color:#eee;
    background-position: center center;
    background-repeat:no-repeat;
    border-collapse:separate;
    border-radius:5px;
    box-shadow:0 0 5px #333;
    height: 110px;
    overflow:hidden;
    width:160px;
    background-size:contain;
}
.binnash-gridbox-white .binnash-apple-overlay {
    display:none;
    background-image:url(../images/white-popup.png);
    width:640px;
    padding:35px;
    font-size:11px;
    text-align:center;
}

