.binnash-gridbox-horizontal{
    float:left;
    margin:auto;
}
.binnash-gridbox-horizontal .binnash-container{
    float:left;
    width:600px;
}
.binnash-gridbox-horizontal .binnash-container table, .binnash-gridbox-horizontal .binnash_container table tr td{
    border:none;
}
.binnash-gridbox-horizontal .binnash-photo-album{
    padding:6px 0 6px 0;    
}
.binnash-gridbox-horizontal .binnash-photo-album table{
    border-collapse:collapse;
    border-spacing:0;
    margin:0;
    border:0 none;
}

.binnash-gridbox-horizontal .binnash-photo-album img, 
.binnash-gridbox-horizontal .binnash-photo-album td, 
.binnash-gridbox-horizontal .binnash-photo-album tr,
.binnash-gridbox-horizontal .binnash-photo-album tbody{
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;    
}
.binnash-gridbox-horizontal .binnash-prev,.binnash-gridbox-horizontal .binnash-next{
    background-image:url("../images/nav_s.png");
    cursor: pointer;
    height:81px;
    margin:5px;
    width:32px;
}

.binnash-gridbox-horizontal .binnash-prev{
    background-position:0 -70px;
}
.binnash-gridbox-horizontal .binnash-prev:hover{
    background-position:-51px -70px;
}
.binnash-gridbox-horizontal .binnash-next{
    background-position:0 5px;
}
.binnash-gridbox-horizontal .binnash-next:hover{
    background-position:-51px 5px;
}
.binnash-gridbox-horizontal .binnash-photo-album div.stripmask{
    height:116px;
    overflow:hidden;
    position:relative;
    width:500px;
}
.binnash-gridbox-horizontal .binnash-photo-album div.strip{
    position:absolute;
    width: 3440px;
}
.binnash-gridbox-horizontal .binnash-photo-album div.strip > div{
    width:172px;
    display:block;
    float:left;
    cursor:pointer;
}
/*.binnash-photo-album div.image{
    background-color:#333;
    background-position: center center;
    background-repeat:no-repeat;
    border-collapse:separate;
    border-radius:5px;
    box-shadow:0 0 5px #333;
    height: 110px;
    overflow:hidden;
    width:160px;
}*/
.binnash-gridbox-horizontal .binnash-apple-overlay .close {
    background-image:url(../images/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    docoration:none;
    height:35px;
    width:35px;
}
.binnash-gridbox-horizontal .binnash-title-position{
    margin: -16px -3px 15px;
    padding:9px  0 8px 40px;
}
.binnash-gridbox-horizontal .binnash-apple-overlay #preloader{
    line-height:400px;
    text-align:center;
}
.binnash-gridbox-horizontal #binnash-popup-left{
    float: left;
    height: 400px;
    left: 35px;
    position: absolute;
    top: 35px;
    width: 35px;
    z-index:1000;
}
.binnash-gridbox-horizontal #binnash-popup-center{
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background-color: transparent;
}
.binnash-gridbox-horizontal #binnash-popup-center img{
    height: 400px;    
}
.binnash-gridbox-horizontal #binnash-popup-right{
    float: right;
    height: 400px;
    position: absolute;
    right: 35px;
    top: 36px;
    width: 35px;
    z-index:1000;
}
.binnash-gridbox-horizontal #binnash-popup-left:hover,.binnash-gridbox-horizontal #binnash-popup-right:hover{
    background-color:rgba(255,255,255,0.70);
}

.binnash-gridbox-horizontal #binnash-popup-left:hover>div{
  background-color: transparent;
    background-image: url("../images/nav_s.png");
    background-position: 1px -70px;
    background-repeat: no-repeat;
    height: 75px;
    cursor:pointer;
    position: absolute;
    top: 150px;
    width: 34px;
}
.binnash-gridbox-horizontal #binnash-popup-right:hover>div{
  background-color: transparent;
    background-image: url("../images/nav_s.png");
    background-position: 1px 7px;
    background-repeat: no-repeat;
    height: 75px;
    position: absolute;
    top: 150px;
    cursor:pointer;
    width: 34px;
}

